language: node_js
node_js:
- 0.1
notifications:
  irc: irc.freenode.org#generator-travis-ci
before_script:
- npm install -g grunt-cli
script:
- grunt
env:
  global:
    secure: v+2oVhQAexk32TBwUm2EoYncRVpyw2xZbzLsdM9VHf5hmFHyL+/So2HaPmX0eozm+3JmMc3Cwq/Wg4R8UzcAbs72/WePuwGpH4SdYNVLt2wERSgo9LKiofTVSU8SMxEXv7Js08YdmH1M3XGwpWTDYEqBf8pX7i8uz0Z1pvmqsTM=
